@import '~antd/dist/antd.less';

@primary-color: #c02428;

#sidebar {
  background: white;
  padding-top: 1rem;
  max-height: 100vh;
  overflow-y: scroll;
  img {
    display: block;
    margin: 1rem;
  }
}
