@import '~antd/dist/antd.less';

@primary-color: #c02428;

#sidebar {
  background: white;
  position: fixed;
  padding-top: 1rem;
  max-height: 100vh;
  overflow-y: scroll;
  img {
    display: block;
    margin: 1rem;
  }
  h2,
  button {
    margin-left: 1rem;
  }
}

.screenshots {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    margin-right: 1rem;
  }
}

table th {
  vertical-align: bottom;
  padding: 10px !important;
}

table th[colspan] {
  text-align: left !important;
}

.login-required {
  font-size: 3rem;
  text-align: center;
  margin-top: 30vh;
  a {
    color: white;
    background: blue;
    border-radius: 3px;
    padding: 1rem;
  }
}

.diff {
  display: none;
}

.show-diff .diff {
  display: inline-block;
}

.sidebar-hide-button {
  background: transparent;
  border: 0;
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.close-menu {
  border: 0;
  text-align: 0;
  padding: 0;
  background: transparent;
  margin: 0 !important;
}
